<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action="/team" method="post">
     <p><input name="name" type="text">Team Name:</p>
     <p><input name="coach" type="text">Coach:</p>
     <p><input name="pg" type="text">Point Guard:</p>
     <p><input name="sg" type="text">Shooting Guard:</p>
     <p><input name="sf" type="text">Small Forward:</p>
     <p><input name="pf" type="text">Power Forward:</p>
     <p><input name="c" type="text">Center:</p>
     <p><input id="Submit" type="submit">Submit</p>
   </form>
 </body>
</html>